@use "styles/global" as *;

.CollectionNotice {
    position: relative;
    padding: 1rem 0;
    min-height: 8rem;
    text-align: center;

    &__SyncWrapper {
        @extend .FlexRow, .FlexRow--FlexEnd;
        margin-top: 0;
    }

    &__Text {
        font-size: var(--fontSizeMd);
        font-style: italic;
        color: var(--colSub);
        margin: 0;
    }

    &__TagsWrapper {
        margin-top: 1rem;
    }

    &__TagsLabel {
        color: var(--colTextAlt);
    }

    &__TagsContent {
        color: var(--colSub);
    }
}
