@use "styles/global" as *;

.DemoDataBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-bottom: var(--lineWidth) solid var(--colText);

    &__Text {
        flex-shrink: 10;
    }

    &__BtnDismiss {
        @extend .Btn, .Btn--Tert;
    }

    &__BtnLoad {
        @extend .Btn, .Btn--Pri;
        flex-shrink: 1;
        padding: 0.25rem;
    }
}
