@use "styles/mixins" as *;
@use "styles/vars" as *;

.JotItemCompactBody {
    display: grid;
    grid-template-columns: minmax(0, max-content) minmax(0, auto);
    justify-content: start;
    align-items: baseline;
    min-width: 0;
    gap: 0.5rem;
    flex-grow: 10;
    @include ContentSlideUpAnim;

    &__PrimaryText {
        @include PrimaryTextStyle;
    }

    &__SecondaryText {
        @include SecondaryTextStyle;
    }

    &__CopiedText {
        @include CopiedTextStyle;
    }
}
