@use "styles/mixins" as *;
@use "styles/vars" as *;

.JotItemExpandedContent {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;

    &__Row1 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    &__Row2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.25rem;
        flex-wrap: nowrap;
        width: 100%;
        min-width: 0;
    }

    &__TagList {
        @include Ellipsified;
        font-size: var(--fontSizeSm);
        color: var(--colSub);

        @media (width <= $breakpointMobile) {
            font-size: var(--fontSizeSm);
        }
    }

    &__Datetime {
        flex-shrink: 0;
        font-size: var(--fontSizeSm);
        color: var(--colTextAlt);
    }
}
