@use "styles/mixins" as *;
@use "styles/vars" as *;

.JotItem {
    appearance: none;
    background-color: transparent;
    font-weight: normal;
    font-family: var(--fontFamily);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-width: var(--itemBorderWidth);
    border-color: transparent;
    user-select: none;
    scroll-margin-top: var(--verticalPaddingLg);
    scroll-margin-bottom: var(--verticalPaddingSm);

    @media (width <= $breakpointMobile) {
        scroll-margin-top: var(--verticalPaddingSm);
        scroll-margin-bottom: var(--verticalPaddingLg);
    }

    &:hover {
        background-color: var(--colBgAlt);
    }

    &--Selected {
        border-color: var(--colMain);
    }

    &__Icon {
        display: grid;
        align-items: center;
        flex-shrink: 0;
        color: var(--colText);
    }

    &__StatusWrapper {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        flex-shrink: 0;
        margin-left: auto;
    }

    &__StatusIcon {
        display: grid;
        place-items: center;
        color: var(--colSub);
    }

    &__Datetime {
        font-size: var(--fontSizeMd);
        color: var(--colText);
        flex-shrink: 0;

        @media (width <= $breakpointMobile) {
            font-size: var(--fontSizeSm);
        }
    }

    &--Expanded {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        padding: 0.75rem 0.5rem;
        border-left: var(--itemBorderWidth) solid var(--colTextAlt);
        border-bottom: var(--itemBorderWidth) solid var(--colTextAlt);

        &.JotItem--Selected {
            border: var(--itemBorderWidth) solid var(--colMain);
        }
    }
}
