@use "styles/mixins" as *;
@use "styles/global" as *;

.JotItemContextMenu {
    @extend .Dropdown__Content;

    @keyframes contextMenuScaleIn {
        from {
            opacity: 0;
            transform: scale(0);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    &[data-state="open"] {
        animation: contextMenuScaleIn var(--transTime) ease-in-out;
        transform-origin: top left;
    }

    &[data-state="closed"] {
        animation: none;
    }

    &__Item {
        @extend .Dropdown__Item;

        &--Destructive {
            color: var(--colDanger);

            &:hover {
                color: var(--colBg);
            }
        }
    }

    &__Separator {
        @extend .Dropdown__Separator;
    }
}
