.JotItemExpandedContent {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;

    &__Row1 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    &__Row2 {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        flex-wrap: wrap;
        width: 100%;
    }

    &__Row2Right {
        margin-left: auto;
    }
}
