@use "styles/global" as *;

.MainInputExtendedMenu {
    &__Trigger {
        @extend .Dropdown__Trigger, .Btn, .Btn--Clear;
    }

    &__Content {
        @extend .Dropdown__Content;
    }

    &__GroupLabel {
        padding: 0.5rem;
        font-size: var(--fontSizeXs);
        color: var(--colTextAlt);
    }

    &__Item {
        @extend .Dropdown__Item;
    }

    &__Separator {
        @extend .Dropdown__Separator;
    }
}
