@mixin StandardBorder {
    border: var(--lineWidth) solid var(--colText);
}

@mixin Ellipsified {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin GlassBlur {
    background-color: color-mix(in srgb, var(--colBg), transparent 90%);
    backdrop-filter: blur(0.75rem);
}
