@use "styles/mixins" as *;
@use "styles/global" as *;

.ImportPreview {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.75rem;
    padding: 0.5rem 0.625rem;
    font-size: var(--fontSizeMd);
    background-color: var(--colBgAlt);
    @include StandardBorder;

    &__Actions {
        display: flex;
        gap: 0.5rem;
    }

    &__BtnAction {
        @extend .Btn, .Btn--Sec;
    }
}
