@use "styles/mixins" as *;
@use "styles/global" as *;

.SyncSection {
    &__InfoWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        margin-bottom: 0.75rem;
    }

    &__Email {
        font-size: var(--fontSizeMd);
        color: var(--colSub);
    }

    &__Status {
        font-size: var(--fontSizeSm);
        color: var(--colTextAlt);

        &--Error {
            font-size: var(--fontSizeSm);
            color: var(--colDanger);
        }
    }

    &__Error {
        color: var(--colDanger);
    }

    &__BtnAction {
        @extend .Btn, .Btn--Sec;
    }

    &__BtnIcon {
        flex-shrink: 0;
        color: var(--colMain);

        &--Spinning {
            animation: spin 1s linear infinite;
        }
    }

    &__BtnConnect {
        @extend .Btn, .Btn--Pri;
    }

    &__BtnRow {
        @include FlexRow;
    }
}
