@use "styles/mixins" as *;

.ImportPreview {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.75rem;
    padding: 0.5rem 0.625rem;
    font-size: var(--fontSizeMd);
    background-color: var(--colBgAlt);
    @include StandardBorder;
}

.ImportPreviewActions {
    display: flex;
    gap: 0.5rem;
}

.BtnAction {
    composes: Btn Btn--Sec from global;
}
