@use "styles/mixins" as *;
@use "styles/global" as *;

.PreviousVersionDialog {
    @extend .Dialog;

    &__Title {
        @extend .Dialog__Title;
        margin-bottom: 0.5rem;
    }

    &__CloseBtn {
        @extend .Btn, .Dialog__CloseBtn;
    }

    &__Timestamp {
        display: block;
        font-size: var(--fontSizeSm);
        color: var(--colTextAlt);
        margin-bottom: 0.5rem;
    }

    &__Textarea {
        @extend .Dialog__Textarea;
    }

    &__Footer {
        @extend .Dialog__Footer;
        margin-top: 0.75rem;
    }

    &__BtnBack {
        @extend .Btn, .Btn--Sec;
    }

    &__BtnRestore {
        @extend .Btn, .Btn--Pri;
    }
}
