@use "styles/global" as *;

.SyncButton {
    @extend .Btn, .Btn--Sec;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &__Label {
        font-size: var(--fontSizeMd);
        color: var(--colTextAlt);
    }

    &__Icon {
        flex-shrink: 0;
        color: var(--colMain);

        &--Spinning {
            animation: spin 1s linear infinite;
        }
    }
}
